<div class="wrapper">
  <div class="stocks">
    <div class="stock-list-header">
      <div class="header-name">
        <h1>食品リスト</h1>
      </div>
      <div class="create-list">
        <a href="/foods/new">リストに追加する</a>
      </div>
    </div>

    <div class="stock-list">
      <div class='stock-item-contents'>
        <ul class='stock-item-lists'>
          <% if Food.exists? && user_signed_in? %>
            <% @foods.each do |food| %>
              <% if food.user_id == current_user.id %>
                <li class='stock-item-list'>
                  <%= link_to food_path(food.id) do %>
                    <div class='stock-item-info'>
                      <div class='stock-name-header'>
                        <P>商品名</p>
                      </div>
                      <div class='stock-img-content-header'>
                        <P>アイコン</p>
                      </div>
                      <div class='stock-quantity-header'>
                        <P>個数</p>
                      </div>
                      <div class='stock-expiration-header'>
                        <P>期限</p>
                      </div>
                      <div class='stock-location-header'>
                        <P>保管場所</p>
                      </div>
                    </div>

                    <hr class ="separate">

                    <div class='stock-item-info'>
                      <div class='stock-name'>
                        <P><%= food.name %></p>
                      </div>
                      <div class='stock-img-content'>
                        <% if food.image.attached? %>
                          <%= image_tag food.image, class: "stock-img" %>
                        <% else %>
                          <%= image_tag "no_image.jpg", class: "stock-img" %>
                        <% end %>
                      </div>
                      <div class='stock-quantity'>
                        <P><%= food.quantity %></p>
                      </div>
                      <div class='stock-expiration'>
                        <% unless food.expiration_date.nil? %>
                          <P><%= food.expiration_date.strftime('%Y/%m/%d') %></p>
                        <% end %>
                      </div>
                      <div class='stock-location'>
                        <P><%= food.storage_location %></p>
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          <% end %>

          <%# 商品がない場合のダミー %>
          <% if Food.exists? == false && user_signed_in? %>
            <li class='stock-item-list'>
              <%= link_to '/' do %>
                <div class='stock-item-info'>
                  <div class='stock-name-header'>
                    <P>商品名</p>
                  </div>
                  <div class='stock-img-content-header'>
                    <P>アイコン</p>
                  </div>
                  <div class='stock-quantity-header'>
                    <P>個数</p>
                  </div>
                  <div class='stock-expiration-header'>
                    <P>期限</p>
                  </div>
                  <div class='stock-location-header'>
                    <P>保管場所</p>
                  </div>
                </div>

                <hr class ="separate">

                <div class='stock-item-info'>
                  <div class='stock-name'>
                    <P>例）牛乳</p>
                  </div>
                  <div class='stock-img-content'>
                      <%= image_tag "milk.jpg", class: "stock-img" %>
                  </div>
                  <div class='stock-quantity'>
                    <P>2</p>
                  </div>
                  <div class='stock-expiration'>
                    <P>2021/04/01</p>
                  </div>
                  <div class='stock-location'>
                    <P>冷蔵庫</p>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
          <%# /商品がない場合のダミー %>
        </ul>
      </div>
    </div>
  </div>
</div>