<!DOCTYPE html>
<html>
  <head>
    <title>Family ~memo~</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="tittle-bar">
        <div class="tittle">
          <a href = "/">
            Family ~memo~<br>
            <span class = "sub-tittle">-お家の掲示板-</span>
          </a>
        </div>
      </div>

      <nav class="navigation-bar">
        <div class="menu">
          <h1>在庫：</h1>
          <div class="menu-name enclosure">
            <ul>
              <li><a href="/commodities">日用品</a></li>
              <li><a href="#">食品</a></li>
              <li><a href="#">その他</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <nav class="user-nav">
        <ul class="user-nav-list">
          <% if user_signed_in? %>
            <li><%= link_to current_user.group_name, edit_user_path(current_user), class: "user-groupname " %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-btn " %></li> 
          <% else %>
            <li><%= link_to 'アカウント登録', new_user_registration_path, class: "nav-btn " %></li>
            <li><%= link_to 'ログイン', new_user_session_path, class: "nav-btn " %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <%# 後ほど修正を加える %>
      <p>&copy; Jun_Nishimura space</p>
    </footer>
  </body>
</html>
